<!DOCTYPE html>
<html>
<head>
  <title>Gavzo Spending Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">

  <link rel="icon" href="/images/gavzo_background.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <h1>MONEYGO</h1>
  <h2>The ultimate spending tracker app!</h2>

  <p>Spend, Save & Track!</p>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-instagram"></a>

<div class="navbar">

  <div class="dropdown">
    <button class="dropbtn">MoneyGo
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/">About</a>
      <a href="/">FAQ</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Transactions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/transactions">View all</a>
      <a href="/transactions/new">New Transaction</a>
      <a href="/transactions">Edit Transactions</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Merchants
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/merchant/">View all</a>
      <a href="/merchant/new">Add Merchant</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Types
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/types/">View all</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Budget
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://en.wikipedia.org/wiki/How_to_Rob_a_Bank">Skint</a>
    </div>
  </div>



</div>





<%= yield %>
<div class="footer">
<a href="#">Contact us </a><br>
<a href="#">Site Map </a><br>

</div>
</body>
</html>
