<!DOCTYPE html>
<html>
<head>
  <title>Gavzo Spending Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">

  <link rel="icon" href="/images/gavzo_background.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <h1>MONEYGO</h1>
  <h2>The ultimate spending tracker app!</h2>

  <p>Spend, Save & Track!</p>
<div class="navbar">
  <a href="/">Home</a>

  <div class="dropdown">
    <button class="dropbtn">Transactions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/transactions">View all</a>
      <a href="/transactions/new">New Transaction</a>
      <a href="/transactions">Edit Transactions</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Merchants
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/merchant/">View all</a>
      <a href="/merchant/new">Add Merchant</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Types
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/types/">View all</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Budget
      <i class="fa fa-caret-down"></i>
    </button>
  </div>



</div>


<%= yield %>

</body>
</html>
