<h2 class="title">Merchants</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for merchant in @merchants %>

  <tr>
    <td><a href="/merchant/" class="merch" <%= merchant.id %>"><%= merchant.merch_name %></a><hr></td>
  </tr>
  <% end %>
</table>
