<h2 class="title">Add new Merchant</h2>
<form method="post" action="/merchant/">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="merch_name">Merchant Name:</label>
      <input type="text" name="merch_name" id="merch_name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Merchant"/>
    </div>

  </div>
</form>
