body {
  background: black url('/images/gavzo_background.jpg');
  background-attachment: scroll;
  background-size: 100%;
  background-repeat: no-repeat;
  color: darkgreen;
  font-family: 'Courier New', bold;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', cursive;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  border-style: solid;
  border-color: darkgreen;
}

p {
  text-align:  center;
}

.navbar {
  overflow: hidden;
  background-color: darkgreen;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: palegreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: lightgreen;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: maroon;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: maroon;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: darkgreen;
}

nav {
  padding: 20px;
  margin: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  font-size: 20px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: none;
  font-size: 20px;
  padding-bottom: 20px;
}


main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
}

.transaction {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
  align-items: center;
}
