body {
  background: black url('/images/gavzo_background.jpg');
  background-attachment: scroll;
  background-size: 100%;
  background-repeat: no-repeat;
  color: darkgreen;
  font-family: 'Courier New', bold;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', cursive;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  border-style: solid;
  border-color: darkgreen;
}

p {
  text-align:  center;

}


a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: darkgreen;
}

nav {
  padding: 20px;
  margin: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  font-size: 20px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: none;
  font-size: 20px;
  padding-bottom: 20px;
}


main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
}
