body {
  background: url('/images/gavzo_background.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  color: darkgreen;
  font-family: 'Courier New', bold;
  padding: 0px;
  margin: 0px;
}

.home {
  font-size: 50px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', cursive;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  border-style: solid;
  border-color: darkgreen;
}

h2.title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

p {
  text-align:  center;
  font-family: Courier;
}

.navbar {
  overflow: hidden;
  opacity: 0.8;
  background-color: darkgreen;
  font-family: Courier;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: palegreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: lightgreen;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: maroon;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: maroon;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: black;
}

nav {
  padding: 20px;
  margin: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  font-size: 20px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: none;
  font-size: 20px;
  padding-bottom: 20px;
}


main {
  padding: 25px;
}

.flex {
  display: inline-block;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
}

.transaction {
  border: 20px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: auto;
  display: run-in;
  align-items: center;
}

.form-el  {
  text-align:center;
  display: inline-block;
  vertical-align: bottom;
  width: 160px;
  margin: 0 1em 0 0;
}

.total_spend {
  color: maroon;
  font-size: 50px;
  font: Courier;
  text-align: center;
  border: 20px double;
  border-color: darkgreen;
  margin: 0 20px 30px 0;
  padding: 20px;
  width: 800px;
  margin-left: 260px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: linear-gradient(to bottom right, purple ,red,  yellow);
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgreen;
  opacity: 0.5;
  color: white;
  text-align: left;
}

.form-wrapper {
  text-align: center;
}

button{
  background:darkgreen;
  color:lightgreen;
  font-style: Courier;
  border:none;
  position:relative;
  height:40px;
  font-size:1.1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 1200px;
}
button:hover{
  background:maroon;
  color:lightgreen;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

a.button1 {
  background:darkgreen;
  color:lightgreen;
  font-style: Courier;
  border:none;
  position:relative;
  height:40px;
  font-size:1.1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 600px;
}
a.button1:hover{
  background:maroon;
  color:lightgreen;
}
a.button1:before,a.button1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
a.button1 :after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
a.button1:hover:before,a.button1:hover:after{
  width:100%;
  transition:800ms ease all;
}

a.merch {
  color: maroon;
  margin-left: 50px;
}

.img1 {
  height: 340px;
  padding-top: 60px;
}
